.basic-layout-dark {
  min-width: 1200px;

  .ice-layout-section {
    padding-top: 80px;
  }

  .ice-layout-main {
    padding: 20px;
    //background: #f2f2f2;
    background: #21293f;
  }

  .container-block {
    background: #2c3448!important;
  }

  h4{
    color: aliceblue!important;
}
}
